* {
    margin: 0;
    padding: 0;
    box-sizing: border-box !important;
}

#root, html, body, .big-container {
     height: 100%;
     width: 100%;
}

.right-home {
    height: 100%;
    width: 100%;
    padding: 0;
}

.left-home {
    height: 100%;
    width: 100%;
}
